{# respondents should be a list of People objects #}
<div style="display:inline;text-align:center">

	<label class="well" style="display:inline-block">
	
	<select 
		class="respondent form-control" 
		style="display:block;width:auto" 
		id="respondent">
		<option style="display:none" value="-1">
			-----------------
		</option>
		{% for respondent in respondents %}
			<option value="{{ respondent.id }}">{{ respondent }}</option>
		{% endfor %}
	</select>
	<span style="display:block">Select Respondent</span>
	</label>

	{% if survey.surveytype == "observational" %}
		<label class="well" style="display:inline-block">
			<select 
				class="respondent form-control" 
				style="display:block;width:auto" 
				id="subject">
				<option style="display:none" value="-1">
					--------------
				</option>
				{% for respondent in respondents %}
					<option value="{{ respondent.id }}">{{ respondent }}</option>
				{% endfor %}
			</select>
			<span style="display:block">Select Subject</span>
		</label>	
	{% endif %}

	<button  
		onclick="alert('Work In Progress');return false;" 
		style="display:inline"> 
		add a person 
	</button>
</div>
