{% extends "db/base_template.html" %}
{% block title %}
	import {{ survey.name }}
{% endblock title %}

{% block content %}
	<script type="text/javascript">
		// Check for the various File API support.
		if (window.File && window.FileReader && window.FileList && window.Blob) {
		  // Great success! All the File APIs are supported.
		} else {
		  alert('The File APIs are not fully supported in this browser.');
		}
	</script>
	<input type="file" id="files" name="files[]"/>
	<output id="list"></output>
	
	<script>
	  function handleFileSelect(evt) {
	    var files = evt.target.files; // FileList object
	
	    // files is a FileList of File objects. List some properties.
	    var output = [];
	    for (var i = 0, f; f = files[i]; i++) {
	      output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
	                  f.size, ' bytes, last modified: ',
	                  f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
	                  '</li>');
	    }
	    console.log(files)
	    var f = new FileReader();
	    f.onload = function(thefile){
	    	console.log(thefile)
	    	return function(e){
	    		console.log(e)
	    	}
	    };
	    f.readAsText(files[0]);

	    document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
	  }
	
	  document.getElementById('files').addEventListener('change', handleFileSelect, false);
	</script>
{% endblock content %}