{% extends "db/base_template.html" %}
{% block title %}
	import {{ survey.name }}
{% endblock title %}

{% block content %}
<script type="text/javascript">
	// Check for the various File API support.
	if (window.File && window.FileReader && window.FileList && window.Blob) {
	  // Great success! All the File APIs are supported.
	} else {
	  alert('The File APIs are not fully supported in this browser.');
	}
</script>

{# ACTUAL HTML #}
<form id="post_csv">
	{% csrf_token %}
	<input type="file" id="files" name="files[]"/>
	<button class=' submit btn btn-primary center-block' 
		style="width:80%" 
		id="submit_button" 
		disabled>
		Submit
	</button>
</form>
<output id="list"></output>

{# SCRIPT #}
<script type="text/javascript">
	{% include "db/importcsv_subtempls/importcsv.js" %}
</script>
	
{% endblock content %}