{% extends "db/base_template.html" %}
{% block title %}
	import {{ survey.name }}
{% endblock title %}

{% block content %}


<script type="text/javascript">
	// Check for the various File API support.
	if (window.File && window.FileReader && window.FileList && window.Blob) {
	  // Great success! All the File APIs are supported.
	} else {
	  alert('The File APIs are not fully supported in this browser.');
	}
</script>

<h1 style="text-align:center">
	Import Data into {{survey.name}}
</h1>

{# ACTUAL HTML #}
<form id="post_csv">
	<input type="hidden" name="surveyid" value="{{ survey.id }}">
	{% csrf_token %}
	
	{# source scheme #}
	<div class="well form-group">
  	<label for="importsource">Select Source Scheme:</label>
  		<select class="form-control" id="importsource">
  			{% for source in  schemes %}
  				<option value="{{ source.id }}">{{ source }}</option>
  			{% endfor %}
  		</select>
  		<span class="help-block">
			Select the scheme to use while parsing the csv
		</span>
	</div>
	
	{# source data #}
	<div class="well">
		<div class="input-group">
			<label class="input-group-btn">
				<span class="btn btn-primary">
					Browse&hellip; 
					<input id="files" type="file" style="display: none;">
				</span>
			</label>
			<div id='selected_files'>
				<label id="sel_disp0" class="form-control">...</label>
			</div>
		</div>
		<span class="help-block">
			Select the source file matching the indicated scheme
		</span>
	</div>


	{# working file selector #}
	{# <input type="file" id="filesold" name="files[]"/> #}

	{# submit button #}
	<button class=' submit btn btn-primary center-block' 
		style="width:80%" 
		id="submit_button" 
		disabled>
		Submit
	</button>
</form>

{# SCRIPT #}
<script type="text/javascript">
	{% include "db/importcsv_subtempls/importcsv.js" %}
</script>
	
{% endblock content %}