{% extends "db/base_template.html" %}
{% block content %}

<h1 style="text-align:center">James Li Lab!</h1>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYSrWpjio9QHo_GiKSos0kmt6yfHf7fJAylEOh0l70D8j9whPdKKLO4Xek"
	class="center-block" style="width:50%;height:50%">


<div class="btn-group foo" data-toggle="buttons">
<label class="btn btn-secondary choice">
<input type="radio " 
	name="1" 
	id="1" 
	autocomplete="off" > 
	1
</label>
<label class="btn btn-secondary choice">
	<input type="radio " 
		name="2" 
		id="2" 
		autocomplete="off" > 
		2
</label>
<label class="btn btn-secondary choice">
	<input type="radio " 
		name="3" 
		id="3" 
		autocomplete="off" > 
		3
</label>
<label class="btn btn-secondary choice">
	<input type="radio " 
		name="4" 
		id="4" 
		autocomplete="off" > 
		4
</label>

						  </div>

{% endblock content %}