{% extends "db/base_template.html" %}
{% block content %}

<h1>Homepage!</h1>



<form>
	<label>1</label>
	<input type="radio" name="foo">
	<label>2</label>
	<input type="radio" name="foo">
	<label>3</label>
	<input type="radio" name="foo">
	<label>4</label>
	<input type="radio" name="foo">
	<label>5</label>
	<input type="radio" name="foo">

	<br>
	
	<label>1</label>
	<input type="checkbox" name="bar">
	<label>2</label>
	<input type="checkbox" name="bar">
	<label>3</label>
	<input type="checkbox" name="bar">
	<label>4</label>
	<input type="checkbox" name="bar">
	<label>5</label>
	<input type="checkbox" name="bar">

	<br>
	
	<label>1</label>
	<input type="text" name="goo" value="fooo">
	<label>2</label>
	<input type="text" name="goo">
	<label>3</label>
	<input type="text" name="goo">
	<label>4</label>
	<input type="text" name="goo">
	<label>5</label>
	<input type="text" name="goo">

</form>

{% endblock content %}