{% extends "db/base_template.html" %}
{% block head %}
  {% include "db/survey_subtemplates/datatables_inlcude.html" %}
{% endblock head %}

{% block title %}
  {{survey.name}}
{% endblock title %}

{% block content %}

  {% if survey %}
    <h1>
      {{ survey.name }}
    </h1>
    <a href="{% url "db:submit" survey.id %}">
      <button class="btn btn-default">submit an entry</button>
    </a>
    <a href="{% url "db:import" survey.id %}">
      <button class="btn btn-default">import a csv</button>
    </a>
    <i>
      Survey ID: {{survey.id}} 
    </i>  
  
    {% if headers %}
      {% include "db/survey_subtemplates/table.html" %}

      <script type="text/javascript">
        {% include "db/survey_subtemplates/datatable.js" %}
      </script>
    
    {% else %}
      <br>
      Survey has not been fully created. No questions could be found! 
      <br>
      Please contact lab administrator.
    {% endif %}
  
  {% else %}
    <h1> 
      Survey Not found! <br>
      Please contact the Lab administrator
    </h1>
  {% endif %}
  
{% endblock content %}
